.njc-icon{
    background: #262932 !important;
padding: 5% 14% 1% 14%;
}
.logoutWrap{
    
}
 header,.customDrawer>div{
    background: #262932 !important;
    z-index: 100;
}
.header-icon{
    width: 70%;;
}